*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation-container {
    max-width: 1225px;
    position: relative;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 36px 110px 0;
    margin:0 15px 0;
    border-bottom:1.5px solid #b7b7b7;
}

.navigation-list-item {
    color: #b7b7b7;
    padding-bottom: 15px;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.navigation-list-item span {
    display: block;
}

.navigation-list-item:hover {
    color: #3571a9;
    cursor: pointer;
}

.navigation-list-item.active {
    color: #111111;
}


.js-underline {
    background-color: #111111;
    position: absolute;
    bottom: 0;
    height: 1.5px;
    transition: all .4s;
}