.navigation-container {
    max-width: 1264px;
    position: relative;
    border-bottom:1.5px solid #b7b7b7;
}

.navigation-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 36px 110px 9px;
}

.navigation-list-item {
    color: #b7b7b7;
    /* padding: 0 30px; */
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.navigation-list-item span {
    display: block;
}

.navigation-list-item:hover {
    color: #3571a9;
    cursor: pointer;
}

.navigation-list-item.active {
    color: #111111;
}


.js-underline {
    background-color: #111111;
    position: absolute;
    bottom: -1.5px;
    height: 1.5px;
}