.navigation-container {
    margin: 0 26px;
    max-width: 1212px;
    position: relative;
    border-bottom:1.5px solid #b7b7b7;
}

.navigation-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 36px 110px 9px;
}

.navigation-list-item {
    color: #b7b7b7;
    padding: 0 30px;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.navigation-list-item:first-child {
    padding-left: 0;
}

.navigation-list-item:last-child {
    padding-left: 0;
}

.navigation-list-item:hover {
    color: #3571a9;
    cursor: pointer;
}

.navigation-list-item.active {
    color: #111111;
}


.js-underline {
    background-color: #111111;
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 1.5px;
    width: 20px;
}